<section id="about" class="services bg-primary-a">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>Descripción</h1>
        <hr class="small">
      </div>
      <div class="col-lg-12 text-justify">
        <h3>En las últimas décadas, la teledetección satelital se ha convertido en una herramienta fundamental para el monitoreo y la estimación de los riesgos naturales (en cuanto a magnitud, frecuencia y tipo), así como para evaluar su impacto sobre las poblaciones locales. El taller <b>«Riesgos naturales en montaña: monitoreo satelital e impactos sociales»</b> tiene como objetivo fortalecer las capacidades técnicas y metodológicas de los actores locales en el uso de herramientas de teledetección óptica avanzadas, para una mejor evaluación de los riesgos naturales en montaña.
        <br>
        <br>
        En su quinta edición, el taller además de estudiar las amenazas en ambientes de montaña desde un punto de vista físico, incluirá los principios fundamentales del análisis de la vulnerabilidad de las poblaciones ante las catástrofes naturales, lo que permitirá a las y los participantes tener una visión interdisciplinaria de la gestión del riesgo.</h3> 
        <!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
