<section id="about" class="services bg-primary-a">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>Descripción</h1>
        <hr class="small">
      </div>
      <div class="col-lg-12 text-justify">
        <h3>En las últimas décadas, la teledetección espacial se ha convirtido en una herramienta fundamental para el monitoreo y estimación de los riesgos naturales (en cuanto a magnitud, frecuencia y tipo), así como para evaluar el impacto sobre las poblaciones locales. El taller <b>"Riesgos naturales en montaña: monitoreo satelital e impactos sociales"</b> tiene como objetivo fortalecer las capacidades técnicas y metodológicas de los actores locales en el uso de herramientas de teledetección avanzadas, para una mejor evaluación de los riesgos naturales en montaña.
        <br>
        En su tercera edición, el taller además de estudiar los riesgos naturales desde un punto de vista físico, incluirá los principios generales del estudio de riesgo de catástrofes en las ciencias sociales (por ejemplo el estudio de la vulnerabilidad), lo que permitira a las y los participantes tener una visión interdisciplinaria de la gestión del riesgo.</h3>
        <!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
