<footer>
    <div id="footer" class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <img src="../img/logo_ird.jpg" alt="Logo 1" class="img-responsive" style="max-width: 100%; height: auto;">
              </span>
              <span class="fa-stack fa-4x">
                <img src="../img/logo_cnes.png" alt="Logo 2" class="img-responsive" style="max-width: 80%; height: auto;">
              </span>
              <span class="fa-stack fa-4x">
                <img src="../img/OSUGlogoSmallPos.png" alt="Logo 3" class="img-responsive" style="max-width: 100%; height: auto;">
              </span>
                <h4>
                  <strong>PSF TelRiskNat 2025 V3</strong>
                </h4>
                <p>Institute de Recherche pour le Développement | IRD</p>
                <p>Centre National d'Études Spatiales | CNES</p>
                <p>Observatoire des Sciences de l'Univers de Grenoble | OSUG</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </li>
                  </ul>
            </div>
          <hr class="small">
          <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
          <p class="text-muted">{{ site.info_page }} </p>
        </div>
      </div>
    </div>
  </footer>