<section id="general_topics" class="services bg-primary-a">
    <div class="container">
    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
        <h1>Temario general</h1>
        <hr class="small">
    </div>
    <!-- Collapsible Sections -->
    <div class="row text-justify">
        <div class="col-lg-12">
            <!-- Section A -->
            <h3 class="collapsible-header" data-toggle="collapse" data-target="#sectionA" aria-expanded="false" aria-controls="sectionA">
                Nociones teóricas (conferencias) | 1-2 días <i class="fa fa-chevron-down"></i>
            </h3>
            <h4 id="sectionA" class="collapse">
                <ul>
                    <li>Introducción a los riesgos naturales</li>
                    <li>Ciencias sociales de las catástrofes naturales, estudios de la vulnerabilidad</li>
                    <li>Datos satelitales (plataformas/sensores, resolución espacial y temporal, y espectral, búsqueda de datos, evaluación de los datos)</li>
                    <li>Estimación de la velocidad horizontal a partir de la correlación de imágenes</li>
                    <li>Análisis del terreno con DEMs (tipos de modelos digitales de terreno, resolución espacial, incertidumbres)</li>
                </ul>
            </h4>
            <hr>
            <!-- Section B -->
            <h3 class="collapsible-header" data-toggle="collapse" data-target="#sectionB" aria-expanded="false" aria-controls="sectionB">
                Trabajos prácticos  | 1-2 días <i class="fa fa-chevron-down"></i>
            </h3>
            <h4 id="sectionB" class="collapse">
                <div class="col-lg-12">
                    <h4>Análisis de imágenes ópticas:</h4>
                    <ul>
                        <li>¿Qué datos y para qué objetivos?</li>
                        <li>Búsqueda de imágenes y plataformas (ópticas y radar).</li>
                        <li>Aplicación: delineación de glaciares cubiertos/rocosos, deslizamientos y evaluación de incertidumbres.</li>
                    </ul>
                    <h4>Correlación de imágenes ópticas:</h4>
                    <ul>
                        <li>Estimación de velocidades de superficie.</li>
                        <li>Serie temporal de desplazamiento del suelo.</li>
                    </ul>
                    <h4>Análisis de terreno con Modelos Digitales de Elevación (DEM):</h4>
                    <ul>
                        <li>Búsqueda y pre-procesamiento de DEMs.</li>
                        <li>Generación de DEMs.</li>
                        <li>Diferencia DEMs y estimación de volúmenes.</li>
                    </ul>
                </div>
            </h4>
            <hr>
            <!-- Section C -->
            <h3 class="collapsible-header" data-toggle="collapse" data-target="#sectionC" aria-expanded="false" aria-controls="sectionC">
                Trabajo de campo | 1 - 2 días, (Detalles por definir) <i class="fa fa-chevron-down"></i>
            </h3>
            <h4 id="sectionC" class="collapse">
                <ul>
                    <li>Técnicas con drones para el monitoreo de glaciares</li>
                    <li>Ciencia participativa (percepción de riesgo).</li>
                </ul>
            </h4>
            <hr>
            <!-- Section D -->
            <h3 class="collapsible-header" data-toggle="collapse" data-target="#sectionD" aria-expanded="false" aria-controls="sectionD">
                Proyecto personal | 3 - 4 días (trabajo individual o por grupo) <i class="fa fa-chevron-down"></i>
            </h3>
            <div id="sectionD" class="collapse">
                <h4>Cada participante podrá traer su propio proyecto para desarrollarlo junto con los investigadores y/o compañeros. Caso contrario, se le asignará un proyecto de acuerdo a su interés. No hay restricciones temáticas; se aceptan, por ejemplo, estudios sobre la caracterización de deslizamientos, la evolución del espesor glaciar o la cartografía de la vulnerabilidad en zonas volcánicas. A lo largo del taller, se dedicará tiempo específico para trabajar en estos proyectos, así como para presentar los avances y los resultados al grupo.
                <br>
                <br>
                Se espera que cada participante pueda presentar su proyecto al final del taller. El objetivo es que cada participante pueda aplicar los conocimientos adquiridos durante el taller a un caso práctico, ya sea en el ámbito académico o profesional. Los proyectos deben poder realizarse en el tiempo disponible (3-4 dias). Se recomienda que los participantes traigan sus propios datos para trabajar en sus proyectos.</h4>
            </div>
            <hr>
            <br>
        </div>
    </div>
    
    <!-- <div class="row text-center">
        <a href="{{ site.baseurl }}/docs/todo_list.pdf" class="btn btn-lg btn-blue">Descarga el programa completo aqui</a>
    </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</section>