<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>{{ site.title }}</h1>
    <hr class="small">
    <h2>Workshop en 'Riesgos naturales en montaña:</h2>
    <h2>monitoreo satelital e impactos sociales'</h2>
    <br>
    <h2>6 - 17 Octubre 2025</h2>
    <h2>Universidad Yachay Tech, San Miguel de Urcuqui, Ecuador</h2>
    <hr class="small">
    <br>
    <h3>
      <ul class="list-unstyled">
        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}" style="color: white; ">{{ site.email }}</a>
        </li>
      </ul> 
    </h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Saber mas</a>
  </div>
</header>
