<aside id="inscription" class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interesado en participar?</h2>
        <hr class="small">
        <h3>Incripciones abiertas del 5 de Mayo al 8 de Junio, 2025.
          <br> 
          Para manifestar el interés personal o de su institución, por favor llenar el siguiente formulario:</h3>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScTekYBArDLionxC_l6noHLcYRXVdOHd2jwwvd7G1yeW3ITMQ/viewform?usp=dialog" class="btn btn-lg btn-dark">Inscribirme!</a>
        <!-- <a href="#" class="btn btn-lg btn-dark">Look at Me!</a> -->
         <br>
         <h3>Para más información contactar:
          <br>
          <ul class="list-unstyled">
            <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}" style="color: white; ">{{ site.email }}</a>
            </li>
          </ul> 
          <!-- <a href="mailto:{{ site.email }}" style="color: white; ">{{ site.email }}</a> -->
         </h3>
      </div>
    </div>
  </div>
</aside>