<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick="$('#menu-close').click();">TelRiskNat 2025.V5</a>
    </li>
    <li>
      <a href="#top" onclick="$('#menu-close').click();">Home</a>
    </li>
    <li>
      <a href="#about" onclick="$('#menu-close').click();">Descripción</a>
    </li>
    <li>
      <a href="#objectives" onclick="$('#menu-close').click();">Objetivos</a>
    </li>
    <li>
      <a href="#participants" onclick="$('#menu-close').click();">Participantes</a>
    </li>
    <li>
      <a href="#map" onclick="$('#menu-close').click();">Donde y cuando?</a>
    </li>
    <li>
      <a href="#funding" onclick="$('#menu-close').click();">Financiamiento</a>
    </li>
    <li>
      <a href="#professors" onclick="$('#menu-close').click();">Instructores</a>
    </li>
    <li>
      <a href="#general_topics" onclick="$('#menu-close').click();">Temario general</a>
    </li>
    <li>
      <a href="#inscription" onclick="$('#menu-close').click();">Inscripción</a>
    </li>
    <li>
      <a href="#footer" onclick="$('#menu-close').click();">Contacto</a>
    </li>
  </ul>
</nav>
<!-- onclick = $("#menu-close").click();  -->
<script>
  $(document).ready(function () {
    // Open the sidebar
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });

    // Close the sidebar
    $("#menu-close").click(function (e) {
      e.preventDefault();
      $("#sidebar-wrapper").removeClass("active");
    });
  });
</script>
