<section id="objectives" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>Objetivos</h1>
        <hr class="small">
      </div>
      <div class="col-lg-12 text-left">
          <h3>
              <ul>
                  <li>Conocer los datos satelitales y las técnicas adecuadas para el monitoreo de riesgos naturales en zonas de montaña, a escala regional y local.</li>
                  <li>Estudiar la vulnerabilidad desde un enfoque social.</li>
                  <li>Aprender a manejar datos satelitales para la generación de modelos digitales de terreno y movimiento del suelo, con distintas herramientas de acceso libre (GIS, Python, ASP, etc...)</li>
                  <li>Aplicar las técnicas aprendidas para evaluar el riesgo en un sitio de interés del participante (por ejemplo: glaciar blanco, deslizamiento, glaciar rocoso, etc...).</li>
              </ul>
            </h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>