<section id="participants" class="services bg-primary-a">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h1>Quienes pueden participar?</h1>
          <hr class="small">
        </div>
        <div class="col-lg-12 text-justify">
            <h3>
                El taller reunirá a los actores locales sudamericanos (investigadoras(es), estudiantes de pre/postgrado y profesionales de instituciones públicas y privadas) de Bolivia, Perú y Ecuador que trabajen y/o deseen mejorar sus capacidades en el uso de herramientas de teledetección para una mejor caracterización de los riesgos naturales de montaña (por ejemplo, deslizamientos, riesgos glaciares, volcanes).
                <br><br>
                El taller está abierto a personas de todas las edades, con un límite total de 25 asistentes, y un máximo de 2 a 3 representantes por institución. Se promueve especialmente la inclusión de jóvenes investigadoras(es).
                <br><br>
                Los gastos relacionados a la participación al taller (pasaje, estancia y alimentación) serán cubiertos por el taller.
            </h3>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>