<section id="portfolio" class="portfolio bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Conoce a los profesores implicados</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/photo_pascual.jpg" alt="Pascual Lacroix">
                <div class="portfolio-overlay">
                  Pascual Lacroix
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/DiegoCusicanqui_Github.jpg" alt="Diego Cusicanqui">
                <div class="portfolio-overlay">
                  <p>Diego Cusicanqui</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/photo_ruben.jpeg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/photo_Julien_Rebotier.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
