<section id="professors" class="services bg-primary">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Instructores</h2>
            <hr class="small">
            <div class="row text-justify">
                <div>
                <h3>El taller será impartido por investigadores académicos de ciencias físicas y ciencias sociales, procedentes de la Universidad de Grenoble Alpes (UGA | Francia), la Universidad Yachay Tech (Ecuador) y la Universidad de Pau/Bayonne (UPPA | Francia).
                </h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <img src="{{ site.baseurl }}/img/photo_pascual.jpg" alt="PascalLacroix" class="img-responsive" style="max-width: 100%; height: auto;">
                        <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                        <!-- <i class="fa fa-cloud fa-stack-1x text-primary"></i> -->
                    </span>                
                        <h4>
                            <strong>Pascal LACROIX</strong>
                        </h4>
                        <p>Investigador senior</p>
                        <p>IRD | ISTerre</p>
                        <a href="https://www.isterre.fr/annuaire/pages-web-du-personnel/pascal-lacroix/" class="btn btn-dark">Saber mas</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <img src="{{ site.baseurl }}/img/photo_diego.jpg" alt="DiegoCusicanqui" class="img-responsive" style="max-width: 100%; height: auto;">
                        <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                        <!-- <i class="fa fa-compass fa-stack-1x text-primary"></i> -->
                    </span>
                        <h4>
                            <strong>Diego CUSICANQUI</strong>
                        </h4>
                        <p>Investigador post-doc</p>
                        <p>CNES | ISTerre</p>
                        <a href="https://www.researchgate.net/profile/Diego-Cusicanqui-2?ev=hdr_xprf" class="btn btn-dark">Saber mas</a>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
            <div class="row text-center">  
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <img src="{{ site.baseurl }}/img/photo_ruben.jpeg" alt="Logo" class="img-responsive" style="max-width: 100%; height: auto;">
                        <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                        <!-- <i class="fa fa-flask fa-stack-1x text-primary"></i> -->
                    </span>
                        <h4>
                            <strong>Ruben BASANTES</strong>
                        </h4>
                        <p>Profesor investigador</p>
                        <p>Yachay Tech</p>
                        <a href="https://yachaytech.edu.ec/en/perfil/ruben-basantes-serrano/" class="btn btn-dark">Saber mas</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <img src="{{ site.baseurl }}/img/photo_Julien_Rebotier.jpg" alt="Logo" class="img-responsive" style="max-width: 100%; height: auto;">
                    <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                    <!-- <i class="fa fa-flask fa-stack-1x text-primary"></i> -->
                    </span>
                    <h4>
                        <strong>Julien REBOTIER</strong>
                    </h4>
                    <p>Investigador senior</p>
                    <p>CNRS | UPPA</p>
                    <a href="https://tree.univ-pau.fr/fr/organisation/membres/cv-jrebotie-fr.html" class="btn btn-dark">Saber mas</a>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
</section>