<section id="professors" class="services bg-primary">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Investigadores implicados</h2>
            <hr class="small">
            <div class="row text-justify">
                <div>
                <h3>El taller será impartido por investigadores académicos de ciencias físicas y ciencias sociales, procedentes de distintas universidades como la Universidad de Grenoble Alpes (Francia),  Universidad Yachay Tech (Ecuador) y la Universidad de Pau/Bayonne (Francia).
                </h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <img src="../img/photo_pascual.jpg" alt="PascalLacroix" class="img-responsive" style="max-width: 100%; height: auto;">
                        <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                        <!-- <i class="fa fa-cloud fa-stack-1x text-primary"></i> -->
                    </span>                
                        <h4>
                            <strong>Pascal LACROIX</strong>
                        </h4>
                        <p>Investigador senior</p>
                        <p>IRD | ISTerre</p>
                        <a href="https://en.ird.fr/psf-telrisnat-2023-2025" class="btn btn-dark">Saber mas</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <img src="../img/DiegoCusicanqui_Github.jpg" alt="DiegoCusicanqui" class="img-responsive" style="max-width: 100%; height: auto;">
                        <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                        <!-- <i class="fa fa-compass fa-stack-1x text-primary"></i> -->
                    </span>
                        <h4>
                            <strong>Diego CUSICANQUI</strong>
                        </h4>
                        <p>Investigador post-doc</p>
                        <p>CNES | ISTerre</p>
                        <a href="https://cnes.fr/" class="btn btn-dark">Saber mas</a>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
            <div class="row text-center">  
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <img src="../img/photo_ruben.jpeg" alt="Logo" class="img-responsive" style="max-width: 100%; height: auto;">
                        <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                        <!-- <i class="fa fa-flask fa-stack-1x text-primary"></i> -->
                    </span>
                        <h4>
                            <strong>Ruben BASANTES</strong>
                        </h4>
                        <p>Profesor investigador</p>
                        <p>Yachay-Tech</p>
                        <a href="https://www.osug.fr/le-labex/presentation/" class="btn btn-dark">Saber mas</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <img src="../img/photo_Julien_Rebotier.jpg" alt="Logo" class="img-responsive" style="max-width: 100%; height: auto;">
                    <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                    <!-- <i class="fa fa-flask fa-stack-1x text-primary"></i> -->
                    </span>
                    <h4>
                        <strong>Julien REBOTIER</strong>
                    </h4>
                    <p>Investigador senior</p>
                    <p>CNRS | UPPA</p>
                    <a href="https://www.osug.fr/le-labex/presentation/" class="btn btn-dark">Saber mas</a>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
</section>