<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include objectives.html %}
  {% include participants.html %}
  {% include map.html %}
  {% include funding.html %}
  {% include professors.html %}
  {% include general_topics.html %}
  {% include inscription.html %}
  {% include footer.html %}
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</body>

</html>
